<mat-toolbar>
    My App

    <span fxFlex></span>

    <ng-container *ngIf="!(authenticated$ | async)">
        <button mat-button routerLink="/auth/login">
            <mat-icon>input</mat-icon>&nbsp;Sign In
        </button>
        <button mat-button routerLink="/auth/register">
            <mat-icon>person_add</mat-icon>&nbsp;Sign Up
        </button>
    </ng-container>


    <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
        <button mat-icon-button routerLink="/main/people">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>


        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu xPosition="before" [overlapTrigger]="false" #profileMenu="matMenu" class="before">
            <p class="username">{{(user$|async)?.email}}</p>
            <mat-divider></mat-divider>

            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Exit
            </button>
        </mat-menu>


    </ng-container>

</mat-toolbar> 
<router-outlet></router-outlet>

<!-- <div class="container">
   

    <section class="section-signin">
        <div class="call-sign-in">
            <h1>Bem-vindo de volta!</h1>
            <button mat-raised-button>Entrar</button>
        </div>
    </section>

    <section class="section-signup">
        <div class="card-login">
            <h1>Criar conta</h1>
            <p>Preencha os dados abaixo criar sua conta</p>
            <form action="">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirme a senha</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <div class="content-bottom">
                    <button mat-stroked-button color="primary">
                        Criar conta
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
 -->