<div class="container">
    <!-- <mat-card class="card-login">
        <form>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="email@example.com" />
            </mat-form-field>
        </form>
    </mat-card> -->

    <section class="section-signin">
        <div class="call-sign-in">
            <h1>Bem-vindo de volta!</h1>
            <button mat-raised-button>Entrar</button>
        </div>
    </section>

    <section class="section-signup">
        <div class="card-login">
            <h1>Criar conta</h1>
            <p>Preencha os dados abaixo criar sua conta</p>
            <form action="">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirme a senha</mat-label>
                    <input matInput placeholder="email@example.com" />
                </mat-form-field>
                <div class="content-bottom">
                    <button mat-stroked-button color="primary">
                        Criar conta
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
